@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}
:root{
    --background-color:#EAE8E2;
    --heading-color:#d64867;
    --subheading-color:#f2a766;
    --footer-color:#d84e64;
}
body{
    background-color: var(--background-color) !important;
}
/* navbar part start from here */
.navbar{
    --bs-navbar-padding-y:0px !important;
}
nav img{
    width: 100px;
    height: 100px;
}
.nav-link{
    color: #000 !important;
    text-transform: capitalize;
    font-weight: 500 !important;
}
.carousel{
    height: 100vh;
    overflow: hidden;
}
.form-control:focus{
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}
/* navbar part start end here */

/* product part start from here */
.content {
    padding: 1rem 0; 
}
  .bg-left-half {
    position: relative; 
}
  .media-29101 img {
    margin-bottom: 20px; 
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 5px;
}
  
  .media-29101 h3 {
    font-size: 18px;
    font-weight: 900 !important; 
}
    .media-29101 h3 a {
      color: #6c757d;
      text-decoration: none;
    }
  
  .owl-2-style .owl-nav {
    display: none; 
}
.owl-2-style h2{
    color: var(--heading-color);
    letter-spacing: 2px;
}
  .owl-2-style .owl-dots {
    text-align: center;
    position: relative;
    bottom: -30px; }
    .owl-2-style .owl-dots .owl-dot {
      display: inline-block; }
      .owl-2-style .owl-dots .owl-dot span {
        display: inline-block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: #cccccc;
        -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
        -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
        transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
        margin: 3px; }
      .owl-2-style .owl-dots .owl-dot.active span {
        background: #e54d39; }
      .owl-2-style .owl-dots .owl-dot:active, .owl-2-style .owl-dots .owl-dot:focus {
        outline: none; }
  
/* product part end from here */


/* promotion part start from here */
.promotion .text-slider{
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding: 3rem 0px;
}
.promotion .text-slider::-webkit-scrollbar{
  display: none;
}
.gola{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--heading-color);
  margin: 0px 1rem;
}
.text{
  display: flex;
  align-items: center;
  animation: move 30s linear infinite;
}
.text h1{
  font-size: 5rem;
  margin: 0px;
  font-weight: 700;
}

@keyframes move{
  to{
      transform: translateX(-100%);
  }
  from{
      transform: translateX(0%);
  }
}
/* promotion part end from here */