@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}
:root{
    --background-color:#EAE8E2;
    --heading-color:#d64867;
    --subheading-color:#f2a766;
    --footer-color:#d84e64;
}
body{
    background-color: var(--background-color) !important;
}
/* navbar part start from here */
.navbar{
    --bs-navbar-padding-y:0px !important;
}
nav img{
    width: 100px;
    height: 100px;
}
.nav-link{
    color: #000 !important;
    text-transform: capitalize;
    font-weight: 500 !important;
}
.carousel{
    height: 100vh;
    overflow: hidden;
}
.form-control:focus{
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}
.carousel-indicators [data-bs-target]{
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: var(--heading-color) !important;
}
/* navbar part start end here */


/* product part start from here */
.content {
    padding: 1rem 0; 
}
  .bg-left-half {
    position: relative; 
}
  .media-29101 img {
    margin-bottom: 20px; 
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 5px;
}
  
  .media-29101 h3 {
    font-size: 18px;
    font-weight: 900 !important; 
}
    .media-29101 h3 a {
      color: #6c757d;
      text-decoration: none;
    }
  
  .owl-2-style .owl-nav {
    display: none; 
}
.owl-2-style h2{
    color: var(--heading-color);
    letter-spacing: 2px;
}
  .owl-2-style .owl-dots {
    text-align: center;
    position: relative;
    bottom: -30px; }
    .owl-2-style .owl-dots .owl-dot {
      display: inline-block; }
      .owl-2-style .owl-dots .owl-dot span {
        display: inline-block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: #cccccc;
        -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
        -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
        transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
        margin: 3px; }
      .owl-2-style .owl-dots .owl-dot.active span {
        background: #e54d39; }
      .owl-2-style .owl-dots .owl-dot:active, .owl-2-style .owl-dots .owl-dot:focus {
        outline: none; }
  
/* product part end from here */


/* promotion part start from here */
.promotion .text-slider{
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding: 3rem 0px;
}
.promotion .text-slider::-webkit-scrollbar{
  display: none;
}
.gola{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--heading-color);
  margin: 0px 1rem;
}
.text{
  display: flex;
  align-items: center;
  animation: move 30s linear infinite;
}
.text h1{
  font-size: 5rem;
  margin: 0px;
  font-weight: 700;
}

@keyframes move{
  to{
      transform: translateX(-100%);
  }
  from{
      transform: translateX(0%);
  }
}
/* promotion part end from here */




/* footer css start from here */
.footer-section {
  padding: 80px 0;
  background: #ffffff; }
  .footer-section .relative {
    position: relative; }
  .footer-section a {
    text-decoration: none;
    color: var(--footer-color);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .footer-section a:hover {
      color: #b94357; }
  .footer-section .subscription-form {
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
    margin-top: 100px; }
    @media (min-width: 992px) {
      .footer-section .subscription-form {
        margin-top: 0px;
        margin-bottom: 80px; } }
    .footer-section .subscription-form h3 {
      font-size: 18px;
      font-weight: 500;
      color: var(--footer-color); }
    .footer-section .subscription-form .form-control {
      height: 50px;
      border-radius: 10px;
      font-family: "Inter", sans-serif; }
      .footer-section .subscription-form .form-control:active, .footer-section .subscription-form .form-control:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: #3b5d50;
        -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); }
      .footer-section .subscription-form .form-control::-webkit-input-placeholder {
        font-size: 14px; }
      .footer-section .subscription-form .form-control::-moz-placeholder {
        font-size: 14px; }
      .footer-section .subscription-form .form-control:-ms-input-placeholder {
        font-size: 14px; }
      .footer-section .subscription-form .form-control:-moz-placeholder {
        font-size: 14px; }
    .footer-section .subscription-form .btn {
      border-radius: 10px !important; }
  .footer-section .sofa-img {
    position: absolute;
    top: -200px;
    z-index: 1;
    right: 0; }
    .footer-section .sofa-img img {
      max-width: 380px; }
  .footer-section .links-wrap {
    margin-top: 0px; }
    @media (min-width: 992px) {
      .footer-section .links-wrap {
        margin-top: 54px; } }
    .footer-section .links-wrap ul li {
      margin-bottom: 10px; }
  .footer-section .footer-logo-wrap .footer-logo {
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    color: var(--footer-color); }
  .footer-section .custom-social li {
    margin: 2px;
    display: inline-block; }
    .footer-section .custom-social li a {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      display: inline-block;
      background: #dce5e4;
      color: var(--footer-color);
      border-radius: 50%; }
      .footer-section .custom-social li a:hover {
        background: var(--footer-color);
        color: #ffffff; }
  .footer-section .border-top {
    border-color: #dce5e4; }
    .footer-section .border-top.copyright {
      font-size: 14px !important; }
footer p{
  color: var(--footer-color);
}
.untree_co-section {
  padding: 7rem 0; }

.form-control {
  height: 50px;
  border-radius: 10px;
  font-family: "Inter", sans-serif; }
  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #3b5d50;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); }
  .form-control::-webkit-input-placeholder {
    font-size: 14px; }
  .form-control::-moz-placeholder {
    font-size: 14px; }
  .form-control:-ms-input-placeholder {
    font-size: 14px; }
  .form-control:-moz-placeholder {
    font-size: 14px; }

.service {
  line-height: 1.5; }
  .service .service-icon {
    border-radius: 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #3b5d50;
    margin-right: 20px;
    color: #ffffff; }

textarea {
  height: auto !important; }

/* footer css start end here */